@import "../../../../assets/styles/variables";

$namespace: '.top-bar-button';

#{$namespace} {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
  border-left: 1px solid $gray;
  cursor: pointer;
  transition: background-color .3s;

  &--active,
  &:hover {
    background-color: $shamrock;

    #{$namespace}__icon {
      fill: #fff;
    }
  }

  &__icon {
    width: 28px;
    transition: fill .3s;
    fill: #333;
  }

  &__list-container {
    position: absolute;
    top: 110%;
    right: 0;
    width: 500px;
    max-width: 90vw;
    background: $white;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);

    &:before {
      content: '';
      position: absolute;
      top: -8px;
      right: 26px;
      display: block;
      width: 16px;
      height: 16px;
      background: #fff;
      box-shadow: 0px -15px 15px 0 rgba(0, 0, 0, 0.2);
      transform: rotate(45deg);
    }
  }

  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 400px;
    overflow-y: auto;
  }

  &__list-title {
    margin: 10px 0;
    padding: 0 10px;
  }

  &__list-item {
    border-top: 1px solid $gray-three;

    &:hover:not(&--empty):not(&--link) {
      background-color: $gray;
    }

    &--empty {
      padding: 10px;
      font-size: 12px;
      cursor: default;
    }

    &--link {
      text-align: center;
      padding: 0px 0;
      font-size: 12px;
    }
  }

  &__list-link {
    display: block;
    padding: 5px 0;
  }

  &__document {
    .document__icon {
      flex: 0 0 40px;
      width: 30px;
      height: 30px;
    }

    .document__main {
      width: 80%;
    }

    .document__title {
      font-size: 14px;
      line-height: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .document__status {
      font-size: 11px;
    }
  }
}

/* Dark Theme */

.app--dark #{$namespace} {
  &__count {
    background-color: $lightRed;
  }

  &__list {
    background-color: $background-dark;
  }

  &__list-item {
    &:hover {
      background-color: $lightBackground-dark;
    }
  }
}
