@import "../../../assets/styles/variables";
$namespace: '.button';

#{$namespace} {
  background-color: #fff;
  border: 1px solid $blackColor;
  border-radius: 100px;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 500;
  color: $blackColor;
  line-height: 24px;
  text-align: center;
  user-select: none;
  transition: background-color .3s ease;

  &--success {
    background-color: $greenColor;
    border-color: $greenColor;
    color: #fff;
  }

  &--error {
    background-color: $strawberry;
    border-color: $strawberry;
    color: #fff;
  }

  &--inline {
    padding: 0;
    border: none;
    color: $linkColor;
    background-color: transparent;

    &.button--success {
      color: $greenColor;
    }

    &.button--error {
      color: $strawberry;
    }
  }

  &--disabled {
    background-color: #F2F2F2;
    border-color: #D9D9D9;
    color: $white-dark;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
    opacity: .7;
  }

  &:hover {
    opacity: .8;
  }
}

/* Dark Theme */

.app--dark #{$namespace} {
  background-color: $background-dark;
  border-color: $white-dark;
  color: $white-dark;

  &--inline {
    color: $lightBlue;
    border-color: $lightBlue;
  }

  &--success {
    background-color: $emerald;
    border-color: $emerald;
  }
}
