@import "../../../../assets/styles/variables";

$namespace: '.profile-button';

#{$namespace} {
    position: relative;
    height: 100%;
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;

    &__button {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 16px;
        cursor: pointer;
        transition: .3s ease;

        &--active {
            #{$namespace}__drop-arrow {
                transform: rotate(-90deg);
            }
        }

        &--active,
        &:hover {
            background-color: $shamrock;
            color: #fff;

            #{$namespace}__drop-arrow,
            #{$namespace}__icon {
                fill: #fff;
            }

            #{$namespace}__username {
                color: #fff;
            }
        }
    }

    &__icon {
        width: 25px;
        height: 25px;
        transition: fill .3s;
    }

    &__data {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
        padding-right: 50px;
    }

    &__username {
        font-size: 13px;
        line-height: 24px;
        color: $brownGreyColor;
        transition: color .3s;
    }

    &__drop-arrow {
        width: 20px;
        height: 20px;
        margin-left: auto;
        fill: $gray;
        transform: rotate(90deg);
        transition: fill .3s;
    }

    &__list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: $white;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
        list-style: none;
    }

    &__list-item {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        color: $blackColor;
        cursor: pointer;

        &:hover {
            background-color: $shamrock;
            color: $white;
        }

        &--active {
            pointer-events: none;
            opacity: .8;
        }
    }

    &__list-item-active {
        margin-right: 10px;
        color: $emerald;
    }

    &__switch-theme-button {
        margin-left: auto;
    }
}

/* Dark Theme */
.app--dark #{$namespace} {
    &__list {
        background-color: $background-dark;
    }

    &__list-item {
        color: $white-dark;
    }
}
