.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__logo {
        margin-bottom: 40px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        width: 360px;
        margin-bottom: 20px;
    }

    &__input {
        width: 100%;

        &--password {
            margin-bottom: 40px;
        }
    }

    &__button {
       &--submit {
           width: 170px;
           height: 48px;
       }
    }
}
