$namespace: '.page';

#{$namespace} {
    display: flex;
    flex-direction: column;
    height: 100%;

    &--with-bar {
        padding-top: 90px;

        #{$namespace}__content {
            padding-top: 0;
        }
    }

    &--blur {
        filter: blur(5px);
        user-select: none;
        pointer-events: none;
    }

    &__content {
        flex: 1;
        padding-top: 30px;
    }
}
