@import "../../../assets/styles/variables";
$namespace: '.page';

#{$namespace} {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    transition: background-color .3s ease;

    &--with-bar {
        padding-top: 90px;

        #{$namespace}__content {
            padding-top: 0;
        }
    }

    &--blur {
        filter: blur(5px);
        user-select: none;
        pointer-events: none;
    }

    &__content {
        flex: 1;
        max-height: 100%;
        padding-top: 30px;
    }
}

.app--dark #{$namespace} {
    background-color: $background-dark;
    color: #fff;
}
