@import "../../../assets/styles/variables";

.inline-button {
  display: inline-block;
  margin-bottom: 20px;
  border-bottom: 2px dashed $linkColor;
  color: $linkColor;
  text-decoration: none;
  user-select: none;

  &--disabled {
    opacity: .5;
    pointer-events: none;
    cursor: not-allowed;
  }

  &--small {
    margin-bottom: 0;
    border-bottom: 1px dashed $linkColor;
    font-size: 12px;
  }

  &--danger {
    color: $strawberry;
    border-color: $strawberry;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: $linkColor auto 1px;
  }
}

/* Dark Theme */

.app--dark .inline-button {
  border-color: $lightBlue;
  color: $lightBlue;

  &--small {
    border-color: $lightBlue;
  }

  &--danger {
    border-color: $lightRed;
    color: $lightRed;
  }

  &:focus {
    outline-color: $lightBlue;
  }
}
