@import "../../../assets/styles/variables";

$namespace: '.checkbox';

#{$namespace} {
  font-size: 15px;
  cursor: pointer;
  user-select: none;

  &:not(&--disabled):hover {
    #{$namespace}__box {
      border-color: $shamrock;
    }
  }

  &--checked {
    #{$namespace}__box{
      background-color: $shamrock;
      border-color: $shamrock;

      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &--disabled {
    * {
      cursor: not-allowed;
    }

    #{$namespace}__label {
      pointer-events: none;
      color: $fontGrey;
    }

    #{$namespace}__box {
      border-color: $gray;
    }

    &.checkbox--checked {
      #{$namespace}__box {
        background-color: $gray;
      }
    }
  }

  &__box {
    position: relative;
    display: inline-flex;
    margin-right: 20px;
    background-color: transparent;
    border: 2px solid #B2B2B2;
    width: 18px;
    height: 18px;
    border-radius: 3px;

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 1px;
      width: 12px;
      height: 10px;
      opacity: 0;
      visibility: hidden;
      background: url(./img/checkbox.svg) no-repeat 0 0;
      background-size: 12px 10px;
    }
  }


  &__field {
    display: none;
  }

  &__label {
    display: flex;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
  }
}

/* Dark Theme */
.app--dark #{$namespace} {
  &:not(&--disabled):hover {
    #{$namespace}__box {
      border-color: $emerald;
    }
  }

  &--checked {
    #{$namespace}__box {
      background-color: $emerald;
      border-color: $emerald;
    }
  }

  &__label {
    background-color: $background-dark;
  }
}
