@import "../../../../assets/styles/variables";

.project-properties {
  position: relative;
  height: 100%;
  z-index: 1;

  &__header {
    display: flex;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__row {
    height: 100%;
  }

  &__column {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 10px;
    height: 100%;

    & + & {
      padding-left: 10px;
      padding-right: 20px;
    }
  }

  &__list {
    min-height: 92%;
    max-height: 92%;
    border-top: 1px solid #d9d9d9;
    user-select: none;

    &--right {
      display: flex;
      flex-wrap: wrap;
      margin: -10px;
      border-top: none;
    }
  }

  .sortable-ghost {
    opacity: .4;
  }

  &__create-field {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16px;
  }

  &__search-field {
    display: flex;
    align-items: center;
  }

  &__search-input {
    margin-bottom: 0;

    .input-text__field {
      padding: 0 6px;
      background: transparent;
      border: none;
    }
  }
}

/* Dark Theme */

.app--dark .project-properties {
  &__column  + &__column{
    border-color: $border-color-dark !important;
  }
}
