@import '../../../assets/styles/variables.scss';

$namespace: '.select';

#{$namespace} {
    position: relative;
    max-width: 100%;
    margin-bottom: 20px;

    &--succeed {
        #{$namespace}__label-text {
            font-weight: 500;

            &:before {
                content: '✔️ ';
            }
        }
    }

    &--readOnly {
        #{$namespace}__container {
            color: $fontGrey;
            background-color: $gray-three;
        }

        #{$namespace}__list {
            background-color: $gray-three;
        }

        #{$namespace}__list-item {
            pointer-events: none;
        }
    }

    &--mobile {
        #{$namespace}__list-container {
            position: fixed;
            top: auto;
            left: 0;
            right: 0;
            bottom: 0;
            max-height: 80vh;
            z-index: 6;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        #{$namespace}__list {
            max-height: 60vh;
            box-shadow: none;
        }

        &:not(.select--multiple) {
            #{$namespace}__list-item {
                padding-left: 20px;
            }
        }
    }

    &--disabled {
        opacity: .6;
        pointer-events: none;
    }

    &--error {
        #{$namespace}__label-text {
            color: $errorColor;
        }

        #{$namespace}__container {
            border-color: $errorColor;
        }

        #{$namespace}__control {
            border-color: $errorColor;
        }
    }

    &__label-text {
        display: inline-block;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 8px;
    }

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 17px;
        border: 1px solid #b2b2b2;
        font-size: 15px;
        line-height: 24px;
        outline: 0;
        cursor: pointer;

        &:after {
            content: "";
            position: absolute;
            right: 20px;
            top: 50%;
            height: 0;
            width: 0;
            margin-top: -2.5px;
            border-style: solid;
            border-color: #333 transparent transparent transparent;
            border-width: 5px;
            pointer-events: none;
        }

        &--opened:after {
            border-color: transparent transparent #333 transparent;
            margin-top: -7.5px;
        }
    }

    &__placeholder {
        color: $fontGrey;
        white-space: nowrap;
        max-width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__selected-value {
        display: flex;
        flex-direction: column;
        width: 80%;
        white-space: nowrap;
        user-select: none;
        line-height: 15px;

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        i {
            margin-left: 5px;
            padding: 2px 5px;
            background-color: #d9d9d9;
            border-radius: 3px;
            font-style: normal;
        }
    }

    &__selected-name {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__list-container {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1;
        transition: all .3s ease;

        &--fixed {
            position: fixed;
            top: auto;
            left: auto;
            width: auto;
        }

        .checkbox__label {
            background-color: unset;
        }
    }

    &__list {
        max-height: 200px;
        margin: 0;
        padding: 0;
        background-color: #fff;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .2);
        word-break: break-all;
        list-style: none;
        overflow-y: auto;

        &--progress {
            min-height: 30px;
        }
    }

    &__list-item {
        display: flex;
        align-items: center;
        padding: 0 16px;
        height: 48px;
        font-size: 15px;
        cursor: pointer;

        &:focus,
        &:hover {
            background-color: #f2f2f2;
        }

        &--active {
            font-weight: 500;
        }
    }

    &__list-item-name {
        display: inline-block;
        width: 100%;
    }

    &__list-item-description {
        font-size: 11px;
        color: #999;
    }

    &__list-title {
        padding: 20px 20px 0;
    }

    &__list-header {
        position: relative
    }

    &__list-close-button {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
    }

    &__overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .7);
        z-index: 5;
    }

    &__search-wrapper {
        height: 40px;
    }

    &__search-field {
        width: 100%;
        height: 100%;
        padding: 0 17px;
        background: transparent;
        border: none;
        font-size: 15px;
        color: #999;
    }

    &__search-clear-button {
        position: absolute;
        top: 5px;
        right: 40px;
        background: none;
        border: none;
        padding: 8px;
        font-size: 16px;
        line-height: 12px;
    }

    &__message {
        position: absolute;
        left: 0;
        top: 100%;
        font-size: 12px;
        line-height: 15px;
        margin-top: 3px;
        color: $errorColor;
    }

    .checkbox {
        pointer-events: none;
    }

    .checkbox__box {
        margin-right: 15px;
    }

    &__selected-description {
        font-size: 11px;
        color: #999;
    }
}

/* Dark Theme */

.app--dark #{$namespace} {
    &__search-clear-button {
        color: $border-color-dark;
    }

    &__list {
        background: $background-dark;
    }

    &__list-item {
        &:focus,
        &:hover {
            background-color: $superLightBackground-dark;
        }
    }

    &__list-container {
        background-color: $background-dark;
        border-top: 1px solid $border-color-dark;
    }

    &__container {
        &:after {
            border-color: $border-color-dark transparent transparent transparent;
        }

        &--opened:after {
            border-color: transparent transparent $border-color-dark transparent;
            margin-top: -7.5px;
        }
    }

    &--succeed .select__label-text:before {
        color: $superLightBackground-dark;
    }

    &__search-wrapper {
        background-color: $border-color-dark;
    }

    &__search-field {
        color: $white-dark;
    }

    &__selected-value i {
        background-color: $border-color-dark;
    }

    &--selected-name {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &--readOnly {
        #{$namespace}__container {
            color: $fontGrey;
            background-color: $superLightBackground-dark;
        }

        #{$namespace}__list {
            background-color: $superLightBackground-dark;
        }

        #{$namespace}__list-item {
            color: $fontGrey;
            pointer-events: none;
        }
    }
}
