.project-users {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow-y: auto;
    z-index: 1;

    &__user-list {
        border-top: 1px solid #eee;
    }
}
