@import "../../../assets/styles/variables";

$namespace: '.input-time';

#{$namespace} {
  position: relative;
  margin-bottom: 20px;

  &--succeed {
    #{$namespace}__label-text {
      font-weight: 500;

      &:before {
        content: '✔️ ';
      }
    }
  }

  &--error {
    &:not(#{$namespace}--empty):after {
      content: "";
      position: absolute;
      width: 32px;
      height: 32px;
      background: url(./img/input-clear.svg) no-repeat;
      bottom: 5px;
      right: 8px;
    }

    #{$namespace}__label-text {
      color: $errorColor;
    }

    #{$namespace}__field {
      color: $errorColor;
      padding-right: 40px;
      border-color: $errorColor;
    }
  }

  &--link {
    #{$namespace}__field {
      padding-right: 50px;
    }
  }

  &:placeholder-shown {
    color: $fontGrey;
    opacity: 1;
  }

  &__label {
    display: flex;
    flex-direction: column;
  }

  &__label-text {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__field {
    height: 40px;
    padding: 0 17px;
    border: 1px solid $brownGreyColor;
    font-size: 15px;
    line-height: 24px;
    outline: 0;
  }

  &__clear {
    position: absolute;
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    bottom: 4px;
    right: 8px;
    z-index: 1;
  }

  &__message {
    position: absolute;
    left: 0;
    top: 100%;
    font-size: 12px;
    line-height: 15px;
    margin-top: 3px;
    color: #F62434;
  }

  &__earth-icon {
    position: absolute;
    bottom: 10px;
    right: 16px;
  }

  &__picker {
    position: absolute;
    top: 100%;
    left: 0;
    width: 114px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 5px #ccc;
    z-index: 10;
  }

  &__picker-select-panel {
    float: left;
    width: 56px;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__picker-list {
    width: 100%;
    max-height: 300px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    overflow: hidden;

    &:first-child {
      border-right: 1px solid #e9e9e9;
    }

    &:hover {
      overflow-y: auto;
    }
  }

  &__picker-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 24px;
    box-sizing: content-box;
    font-size: 12px;
    cursor: pointer;

    &--active,
    &:hover,
    &:focus {
      background: #edfaff;
      color: #2db7f5;
    }
  }
}
