.project-table-settings-modal {
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        margin-bottom: 20px;
    }

    &__item {
        display: flex;
        align-items: center;
        flex: 0 0 50%;
        padding: 10px;
    }
}
