.project-table-settings-modal {
    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    &__item {
        display: flex;
        align-items: center;
        flex: 0 0 50%;
        padding: 10px;
    }
}
