.settings-system {
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 600px;

        & + & {
            margin-top: 1rem;
        }
    }

    &__item-button {
        margin-left: auto;
    }
}
