@import '../../../assets/styles/variables';
$namespace: '.reprints';

#{$namespace} {
  padding-top: 10px;

  &__no-reprints {
    margin: 14px 0 42px;
  }
}

/* Dark Theme */

// .app--dark #{$namespace} {

// }

// @media (max-width: 1024px) {
//   #{$namespace} {
//   }
// }