@import '../../../assets/styles/variables';
$namespace: '.project-create-page';

#{$namespace} {
    flex: 1;
    display: flex;
    flex-direction: column;

    &__container {
        position: relative;
    }

    &__header {
        margin-top: -40px;
        padding: 30px 0;
        background-color: $gray-three;
        border-bottom: 1px solid $gray;
    }

    &__breadcrumbs {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: $brownGreyColor;
    }

    &__title {
        margin: 0;
    }

    &__title-container {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__title-edit-icon {
        margin-left: 10px;
    }

    &__title-input-container {
        display: flex;
        align-items: center;
    }

    &__title-input {
        background: none;
        border: 1px solid $gray;
        font-size: 22px;
        font-weight: 700;
        line-height: 28px;
    }

    &__title-input-button {
        margin-bottom: 0 !important;
        margin-left: 10px;
    }

    &__step {
        position: relative;
        height: 100%;
        margin-bottom: 0;
        z-index: 1;

        &--second {
            padding: 40px 1em;
        }
    }

    &__body {
        position: relative;
        flex: 1 1 auto;
        height: 0;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 50%;
            background-color: $gray-four;
            z-index: 0;
        }
    }

    &__step .row {
        height: 100%;
        margin: 0;
    }

    &__column {
        padding: 40px 20px 40px 0;
        height: 100%;

        & + & {
            padding-left: 20px;
            padding-right: 0;
            border-left: 1px solid $gray;
        }
    }

    &__footer {
        border-top: 1px solid $gray;
        box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.1);
        z-index: 1;

        .container {
            display: flex;
            align-items: center;
            height: 60px;
            justify-content: space-between;
        }
    }

    &__submit-button {
        height: 40px;
        width: 150px;

        &--margin-left-auto {
            margin-left: auto;
        }
    }

    &__steps-buttons {
        display: inline-flex;
        align-items: center;
        margin-left: 5px;
    }

    &__steps-buttons-item {
        background: none;
        border: none;
        color: $brownGreyColor;

        &:hover,
        &--active {
            color: $blackColor;
        }

        &--disabled {
            pointer-events: none;
            color: #d6d6d6;
            cursor: default;
        }
    }

    &__steps-buttons-divider {
        display: inline-block;
        width: 46px;
        height: 1px;
        margin: 0 10px;
        background-color: $brownGreyColor;
    }

    &__viewer-select {
        position: absolute !important;
        right: 1em;
        top: 50%;
        min-width: 250px;
        z-index: 2;
    }
}

/* Dark Theme */

.app--dark #{$namespace} {
    &__header {
        background-color: $superLightBackground-dark;
        border-color: transparent;
        color: $white-dark;
    }

    &__title-edit-icon {
        fill: $white-dark
    }

    &__title-input {
        color: $white-dark;
    }

    &__body:after {
        background-color: $lightBackground-dark;
    }

    &__footer {
        border-top: none;
        box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.5);
    }

    &__steps-buttons-item {
        background: none;
        border: none;
        color: $brownGreyColor;

        &:hover,
        &--active {
            color: $white-dark;
        }
    }
}
