@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";
$namespace: '.settings-page';

#{$namespace} {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    flex-shrink: 0;
    margin: 0;
  }

  &__body-header {
    margin-bottom: 40px;
  }

  &__body-header-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__search-field {
    width: 300px;
    margin-left: auto;

    .input-text__field {
      border-top: none;
      border-left: none;
      border-right: none;
    }
  }

  &__button {
    height: 100%;
    margin-left: auto;
  }

  &__body-title-wrapper {}

  &__body-title {
    flex-shrink: 0;
    margin-bottom: 0;
  }

  &__body-subtitle {
    margin-bottom: 0;
    font-weight: 100;
  }

  &__content {
    position: relative;
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  &__left-sidebar {
    flex: 0 0 $settingsLeftSidebarWidth;
    border-right: 1px solid $gray;

    @include media('mobile') {
      position: fixed;
      top: 0;
      flex: 0 0 100%;
      width: 100%;
      border-right: none;
    }
  }

  &__loader {
    left: $settingsLeftSidebarWidth;

    @include media('mobile') {
      position: fixed;
      left: 0;
    }
  }

  &__body {
    flex: 1;
    max-height: 100%;
    padding: 20px 40px;
    border-top: 1px solid $gray;

    @include media('mobile') {
      padding: 20px 10px;
    }

    &--empty {
      background-color: $gray-three;
    }
  }

  &__stub {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30%;
    color: $fontGrey;

    h2, h5 {
      margin-bottom: 0;
      color: $fontGrey;
    }

    h5 {
      font-weight: 300;
    }
  }
}

/* Dark Theme */

.app--dark #{$namespace} {
  &__stub {
    background-color: $superLightBackground-dark;
  }

  &__body {
    border-color: $brown-grey;

    &--empty {
      background-color: $superLightBackground-dark;
    }
  }

  &__left-sidebar {
    border-color: $brown-grey;
  }
}
