@import "../../../assets/styles/variables";

.user {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;

    &__title {
        margin-bottom: 0;
    }

    &__image {
        flex: 0 0 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        width: 60px;
        height: 60px;
        fill: $shamrock;
    }

    &__data-item {
        margin-bottom: 5px;

        &--small {
            font-size: 12px;
            color: $fontGrey;
        }
    }
}
