@import "../../../assets/styles/mixins";

.menu-hamburger {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  background: none;
  border: none;

  @include media('mobile') {
    display: block;
  }

  &--open {
    span{
      &:first-child {
        background: #232323;
        -webkit-transform: rotate(45deg) translate(-2px, -1px);
        transform: rotate(45deg) translate(0px, -1px);
        opacity: 1;
      }
      &:nth-child(2) {
        -webkit-transform: rotate(0deg) scale(0.2, 0.2);
        transform: rotate(0deg) scale(0.2, 0.2);
        opacity: 0;
      }
      &:last-child {
        background: #232323;
        -webkit-transform: rotate(-45deg) translate(0, -1px);
        transform: rotate(-45deg) translate(0, -2px);
      }
    }
  }

  input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
    transform-origin: 4px 0;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
      opacity 0.55s ease,
      -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
}

/* Dark Theme */

.app--dark .menu-hamburger {
  &--open {
    span {
      background-color: $white-dark;
    }
  }
}
