@import '../../../../../assets/styles/variables';

$namespace: '.selected-property';

#{$namespace} {
    display: flex;
    position: relative;
    align-items: center;
    height: 64px;
    padding: 0 48px;
    background-color: #fff;
    border-bottom: 1px solid $gray;
    user-select: none;

    &--hidden {
        display: none;
    }

    &--allFields {
        flex: 0 0 179px;
        justify-content: center;
        height: 80px;
        margin: 10px;
        padding: 0 10px;
        border: 1px solid $gray;
        border-radius: 8px;
        text-align: center;

        #{$namespace}__arrows {
            display: none !important;
        }
    }

    &:not(&--allFields):first-child {
        border-top: none;
    }

    &:hover {
        background-color: $gray-four;

        #{$namespace}__arrows {
            display: block;
        }

        #{$namespace}__buttons {
            display: flex;
        }
    }

    //&:not(&--allFields) + &:not(&--allFields) {
    //    margin-top: -1px;
    //}

    &--dragging {
        border-top: 1px solid $gray !important;
    }

    &__name {
        flex: 1;
    }

    &__arrows {
        display: none;
        position: absolute;
        top: 0;
        left: 14px;
        bottom: 0;
        height: 100%;
        width: 20px;
    }

    &__arrow-top,
    &__arrow-bottom {
        position: absolute;
        width: 20px;
        fill: $brownGreyColor
    }

    &__arrow-top {
        top: 5px;
        transform: rotate(-90deg);
    }

    &__arrow-bottom {
        bottom: 5px;
        transform: rotate(90deg);
    }

    &__buttons {
        display: none;
        align-items: center;
        position: absolute;
        right: 0;
    }

    &__checkbox {
        margin-right: 10px;
    }

    &__remove-button {
        padding: 10px;
        background: none;
        border: none;

        &:hover {
            #{$namespace}__trash-icon {
                fill: $strawberry;
            }
        }
    }

    &__trash-icon {
        fill: $brownGreyColor;
    }
}

[data-react-beatiful-dnd-placeholder] {
    background-color: red !important;
}

/* Dark Theme */

.app--dark #{$namespace} {
    background-color: $background-dark;
    color: $white-dark;
}
