@import '../../../../../../assets/styles/variables';
$namespace: '.company-speaker';

#{$namespace} {
  position: relative;

  &__fields {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__speaker-in-list {
    list-style: none;
    margin: 0 0 20px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    border: 1px solid #ccc;
  }

  &__speaker-in-item {
    font-size: 13px;
    margin: 0;
    padding: 2px 4px;
    border-radius: 4px;
    color: $white;
    background-color: $greenColor;

    &--warning {
      background-color: $lightRed;
    }
  }

  &__warning {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__warning-message {
    margin: 0 8px 0 0;
    font-size: 13px;
    color: $lightRed;
  }

  &__warning-reset-button {
    font-size: 13px;
    text-decoration: underline;
  }
}

/* Dark Theme */

// .app--dark #{$namespace} {

// }

// @media (max-width: 1024px) {
//   #{$namespace} {
//   }
// }
