@import '../../../../../../assets/styles/variables';
$namespace: '.company-speaker';

#{$namespace} {
  position: relative;

  &__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @media (max-width: $device-sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__speaker-in-list {
    list-style: none;
    margin: 0 0 20px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    border: 1px solid #ccc;
  }

  &__speaker-in-item {
    font-size: 13px;
    margin: 0;
    padding: 2px 4px;
    border-radius: 4px;
    color: $white;
    background-color: $greenColor;

    &--warning {
      background-color: $lightRed;
    }
  }

  &__warning {
    padding: 4px 12px;
    display: flex;
    align-items: center;
    background-color: $white;
    box-shadow: 0 3px 12px -3px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    position: relative;

    @media (max-width: $device-sm) {
      transform: translateY(-30px);
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: -8px;
      transform: translateY(-50%) rotate(45deg);
      background-color: $white;
      box-shadow: 0 3px 12px -3px rgba(0, 0, 0, 0.2);
      width: 16px;
      height: 16px;
      z-index: -2;

      @media (max-width: $device-sm) {
        top: -8px;
        left: 32px;
        transform: translateY(0) rotate(45deg);
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $white;
      z-index: -1;
    }
  }

  &__warning-message {
    margin: 0 8px 0 0;
    font-size: 13px;
    color: $lightRed;
  }

  &__warning-reset-button {
    font-size: 13px;
    text-decoration: underline;
  }
}

/* Dark Theme */

// .app--dark #{$namespace} {

// }

// @media (max-width: 1024px) {
//   #{$namespace} {
//   }
// }
