@import '../../../assets/styles/variables.scss';
$namespace: '.rich-editor';

#{$namespace} {
    &--readOnly {
        pointer-events: none;

        .jodit_container {
            color: $fontGrey;
            background-color: $gray-three;
        }
    }

    &__label {
        display: inline-block;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 8px;
    }

    .jodit_workplace,
    .jodit_toolbar {
        border-color: $brownGreyColor !important;
    }

    .jodit_toolbar,
    .jodit_container {
        transition: background-color .3s ease;
    }
    .jodit_wysiwyg p {
        display: unset !important;
        padding: 0 !important;
        margin: 0 0 10px !important;
    }
}

/* Dark Theme */

.app--dark #{$namespace} {
    .jodit_container:not(.jodit_inline) {
        background-color: $background-dark;
    }

    .jodit_toolbar {
        background: $superLightBackground-dark;

        svg {
            fill: $white-dark
        }
    }

    .jodit_toolbar_btn-separator {
        border-color: $brown-grey !important;
    }
}
