@import "../../../assets/styles/variables";

.archive-modal {
    &__filters {
        display: flex;
        margin-bottom: 20px;
    }

    &__body {
        overflow-y: auto;
    }

    &__list {
        margin: 0;
        padding-left: 0;
        border-top: 1px solid $gray;
        list-style: none;
    }

    &__item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #d9d9d9;
        cursor: pointer;

        &--selected,
        &:hover {
            background-color: $gray-three;

            .archive-modal__item-tag {
                display: flex;
            }

            .archive-modal__item-icon path {
                fill: $shamrock
            }

            .archive-modal__item-name {
                color: $shamrock;
            }
        }

        &--selected {
            .archive-modal__item-tag {
                border-color: $shamrock;
                color: $white;
                background-color: $shamrock;
            }
        }

        &--disabled {
            opacity: .2;
            pointer-events: none;
        }
    }

    &__item-link {
        flex: 1;
        text-decoration: none !important;
    }

    &__item-container {
        display: flex;
        align-items: center;
        padding: 10px 0;
        cursor: pointer;
    }

    &__item-tag {
        display: none;
        margin-left: auto;
        margin-right: 10px;
        padding: 3px 12px;
        border: 1px solid #ccc;
        border-radius: 20px;
        font-size: 12px;
        color: #ccc;
    }

    &__item-data {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }

    &__item-description {
        font-size: 14px;
        color: $fontGrey;
        text-decoration: none;
    }

    &__item-name {
        color: $black;
        text-decoration: none;
    }

    &__filter-item + &__filter-item  {
        margin-left: 16px;
    }

    &__item-delete {
        padding: 0 8px;
        background: none;
        border: none;

        &:hover svg {
            fill: $strawberry
        }
    }

    &__item-delete svg {
        fill: $brown-grey
    }

    &__create-button {
        position: absolute;
        top: 38px;
        left: 150px;
        height: 40px;
        font-size: 38px;
        padding: 8px;
    }

    .confirm-modal__body {
        display: flex;
        flex-direction: column;
        min-height: 400px;
    }
}
