@import "../../../../../assets/styles/variables";
@import "../project-table-settings";
$namespace: '.project-table-header';

#{$namespace} {
  position: relative;
  display: flex;
  height: 75px;
  background-color: #fff;
  overflow-x: hidden;
  transition: background-color .3s ease;
  z-index: 1;

  &__cell {
    flex: 1 0 10%;
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
    background-color: #fff;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    border-left: 1px solid $gray;
    left: 1px solid $gray;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .1px;
    text-align: left;
    user-select: none;
    cursor: pointer;
    transition: background-color .3s ease;

    &--active:not(&--check),
    &:not(&--check):hover {
      background-color: $gray-three;
    }

    &--check {
      flex: 0 0 $checkboxSection;
      padding: 0;
      border: none;
      justify-content: center;

      .checkbox__box {
        margin-right: 0;
      }

      .checkbox__label {
        justify-content: center;
      }
    }

    &--date {
      flex: 0 0 $dateSection;
      border-left: none;
    }

    &--source {
      flex: 0 0 $sourceSection;
    }
  }

  &__cell-name {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 16px;
  }

  &__cell-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__cell-handler {
    height: 100%;
    width: 10px;
    margin-left: auto;
    cursor: col-resize;
    flex-shrink: 0;
    z-index: 1;
  }

  &__cell-filter {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 6px 16px 0;
  }

  &__cell-filter-field {
    width: 100%;
    height: 25px;
    border: 1px solid $gray;
    padding: 0 10px;
    font-size: 12px;
  }

  &__sort-arrow {
    margin-top: -5px;
    margin-left: 5px;
  }
}

.app--dark #{$namespace} {
  background-color: $background-dark;
  color: $white-dark;

  &__cell {
    background-color: $background-dark;
    color: $white-dark;
    border-color: $border-color-dark;

    &--active:not(&--check),
    &:not(&--check):hover {
      background-color: $lightBackground-dark;
      color: $white-dark;
    }
  }
}
