@import "../../../assets/styles/variables";

.dialog-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color .1s ease;
  pointer-events: none;

  &--opened {
    background-color: rgba(0, 0, 0, .3);
    pointer-events: all;
    z-index: 1000;

    .dialog-modal__container-wrapper {
      top: 0;
    }
  }

  &__container-wrapper {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    width: 420px;
    margin: 0 auto;
    transition: top .3s ease;
    pointer-events: all;

    &--pulse {
      animation-name: pulse_animation;
      animation-duration: 1000ms;
      transform-origin: 70% 70%;
      animation-iteration-count: 1;
      animation-timing-function: linear;
    }
  }

  &__container {
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, .2);
    background: #fff;
    color: $blackColor;

    &--danger {
      .dialog-modal__button--submit {
        background-color: $strawberry;
        border-color: $strawberry;
        color: white;
      }
    }
  }

  &__title {

  }

  &__sub-title {
    font-size: 16px;
    font-weight: normal;
  }

  &__body {
    margin-bottom: 32px;
    font-size: 15px;
    line-height: 1.6;
  }

  &__footer {
    display: flex;
  }

  &__button {
    height: 40px;

    &:first-child {
      margin-left: auto;
    }

    & + & {
      margin-left: 16px;
    }
  }
}

@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.08); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.05); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}