@import "../../../../assets/styles/variables";

$namespace: '.notifications-button';

#{$namespace} {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
  border-left: 1px solid $gray;
  cursor: pointer;
  transition: background-color .3s;

  &:hover {
    background-color: $shamrock;

    #{$namespace}__icon {
      fill: #fff;
    }
  }

  &__count {
    position: absolute;
    top: 15px;
    right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    background-color: red;
    border-radius: 50%;
    font-style: normal;
    font-size: 10px;
    color: #fff;
    text-align: center;
  }

  &__icon {
    transition: fill .3s;
  }
}

/* Dark Theme */

.app--dark #{$namespace} {
  &__count {
    background-color: $lightRed;
  }
}
