@import "../../../assets/styles/variables";

$namespace: '.vertical-menu';

#{$namespace} {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid $gray;
  border-bottom: none;

  &__item {
    border-bottom: 1px solid $gray;

    &--active {
      background-color: $gray;
    }

    &--open {
      #{$namespace}__sub-list {
        max-height: 3000px;
        transition: max-height 3s linear;
      }

      #{$namespace}__arrow-icon {
        transform: rotate(90deg);
      }

      #{$namespace}__item-caption:hover {
        color: $blackColor;
        background-color: white;

        #{$namespace}__arrow-icon {
          fill: $gray;
        }
        #{$namespace}__item-icon {
          fill: $greenColor;
        }
        #{$namespace}__item-link {
          color: $blackColor;
        }
      }
    }
  }

  &__item-caption {
    display: flex;
    align-items: center;
    height: 64px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: $greenColor;
      color: white;
      text-decoration: none;

      #{$namespace}__arrow-icon,
      #{$namespace}__item-icon {
        fill: white;
      }
      #{$namespace}__item-link {
        color: white;
      }
    }
  }

  &__item-link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    color: $blackColor;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  &__item-title {
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__item-icon {
    width: 40px;
    height: 40px;
    margin: 0 20px;
    fill: $greenColor;
  }

  &__arrow-icon {
    margin-left: auto;
    margin-right: 20px;
    transform: rotate(-90deg);
    fill: $gray;
  }

  &__sub-list {
    max-height: 0;
    padding: 0;
    margin: 0;
    transition: max-height 1s cubic-bezier(0, 1, 0, 1);
    overflow: hidden;
  }

  &__sub-list-item {
    display: flex;
    align-items: center;
    height: 48px;
    transition: background-color .3s ease;

    &--active {
      background-color: $gray-two;
    }

    #{$namespace}__item-link {
      padding-left: 64px;
    }

    &:focus,
    &:hover {
      background-color: $greenColor;

      #{$namespace}__item-button,
      #{$namespace}__item-link {
        color: white;
        fill: white;
      }
    }
  }

  &__item-button {
    padding: 16px 20px;
  }
}

/* Dark Theme */

.app--dark #{$namespace} {
  border-color: $brown-grey;

  &__item {
    border-color: $brown-grey;
    color: $white-dark;

    &--open {
      #{$namespace}__item-caption:hover {
        color: $white-dark;
        background-color: $background-dark;

        #{$namespace}__arrow-icon {
          fill: $gray;
        }

        #{$namespace}__item-icon {
          fill: $emerald;
        }

        #{$namespace}__item-link {
          color: $white-dark;
        }
      }
    }
  }

  &__item-caption:hover {
    background-color: $emerald;
  }

  &__item-icon {
    fill: $emerald
  }

  &__item-link {
    color: $white-dark;
  }

  &__item-button {
    svg {
      fill: $white-dark
    }
  }

  &__sub-list-item {
    &:hover,
    &:focus {
      background-color: $emerald;
    }
    &--active {
      background-color: $superLightBackground-dark;
    }
  }
}
