@import '../../../../../../assets/styles/variables';
$namespace: '.outside-speaker';

#{$namespace} {
  position: relative;

  &__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @media (max-width: $device-sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

/* Dark Theme */

// .app--dark #{$namespace} {

// }

// @media (max-width: 1024px) {
//   #{$namespace} {
//   }
// }
