@import '../../../../../../assets/styles/variables';
$namespace: '.outside-speaker';

#{$namespace} {
  position: relative;

  &__fields {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

/* Dark Theme */

// .app--dark #{$namespace} {

// }

// @media (max-width: 1024px) {
//   #{$namespace} {
//   }
// }
