@import "../../../assets/styles/variables";
$namespace: '.input-file';

#{$namespace} {
    position: relative;
    margin-bottom: 20px;

    &__field {
        display: none;
    }

    &__button {
        border-bottom: 2px dashed;
        border-radius: 0;
    }

    &__file-list {
        margin-top: 10px;
        font-size: 12px;
        color: #999;
    }

    &__file {
        display: flex;
        align-items: center;
    }

    &__file-button {
        margin-left: 5px;
        padding: 5px;
        border: none;
        background: none;
    }

    &__message {
        position: absolute;
        left: 0;
        top: 100%;
        font-size: 12px;
        line-height: 15px;
        margin-top: 3px;
        color: $errorColor;
    }

    &--error {
        #{$namespace}__button {
            color: $errorColor;
            border-color: $errorColor;
        }
    }
}
