@import "../../../assets/styles/variables";
$namespace: '.input-file';

#{$namespace} {
    position: relative;
    margin-bottom: 20px;

    &__field {
        display: none;
    }

    &__button {
        border-bottom: 2px dashed;
        border-radius: 0;
    }

    &__file-list {
        margin-top: 10px;
        padding-left: 15px;
        font-size: 12px;
        color: #999;
    }

    &__file {
        display: flex;
        align-items: center;
    }

    &__file-name {
        position: relative;
        cursor: pointer;

        &--downloading:hover {
            text-decoration: underline;

            #{$namespace}__download-icon {
                display: inline-block;
            }
        }
    }

    &__download-icon {
        position: absolute;
        display: none;
        left: -20px;
        width: 15px;
        height: 15px;
        color: $fontGrey;
    }

    &__file-button {
        margin-left: 5px;
        padding: 5px;
        border: none;
        background: none;
    }

    &__message {
        position: absolute;
        left: 0;
        top: 100%;
        font-size: 12px;
        line-height: 15px;
        margin-top: 3px;
        color: $errorColor;
    }

    &--error {
        #{$namespace}__button {
            color: $errorColor;
            border-color: $errorColor;
        }
    }
}


/* Dark Theme */

.app--dark #{$namespace} {
    &__file-list {
        color: $white-dark;
    }

    &__file-button {
        color: $border-color-dark;
    }
}
