@import "project-table-settings";
@import "../../../../assets/styles/variables";

$namespace: '.project-table';

#{$namespace} {
  max-width: 100%;
  min-width: 768px;
  height: 100%;
  background-color: #fff;
  transition: background-color .3s ease;

  &__body {
    margin-bottom: 40px;
    max-height: calc(100% - 60px);
    min-height: calc(100% - 60px);
  }

  &__row {
    position: relative;
    display: flex;

    &:last-child {
      .project-table__cell {
        border-bottom: 1px solid $gray;
      }
    }

    &:hover {
      padding-right: 62px;
      background-color: $gray-three;

      .project-table__menu-button {
        display: flex;
      }
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    flex: 1 0 10%;
    height: 40px;
    padding-left: 16px;
    border-top: 1px solid $gray;
    color: #333;
    text-decoration: none;

    &--check {
      flex: 0 0 $checkboxSection;
      padding: 0;
      border: none !important;
      justify-content: center;

      .checkbox__box {
        margin-right: 0;
      }

      .checkbox__label {
        justify-content: center;
      }
    }

    &--date {
      flex: 0 0 $dateSection;
    }

    &--source {
      flex: 0 0 $sourceSection;
    }
  }

  &__cell-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__empty-message {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    color: #999;
    font-size: 12px;
    font-weight: 100;
  }

  &__menu-button {
    display: none;
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 0;
    align-items: center;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 10px;
    border: none;
  }

  &__menu-button-icon {
    width: 32px;
    height: 32px;
    transform: rotate(90deg);
  }

  &__settings-button {
    position: absolute;
    top: 2px;
    right: 0;
    padding: 5px 16px;
    background: #fff;
    border: none;
    z-index: 1;
    transition: background-color .3s ease;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}

/* Dark Theme */

.app--dark #{$namespace} {
  background-color: $background-dark;
  color: $white-dark;

  &__settings-button {
    background: $background-dark;
  }

  &__cell {
    color: $white-dark;
    border-color: $brown-grey;
  }

  &__row {
    position: relative;
    display: flex;

    &:last-child {
      #{$namespace}__cell {
        border-bottom: 1px solid $brown-grey;
      }
    }

    &:hover {
      background-color: $lightBackground-dark;
    }
  }

  svg {
    fill: $white-dark;
  }
}
