@import "../../../assets/styles/variables";

.project-page {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title-wrapper {
    display: flex;
    flex: 0 0 58px;
    align-items: center;
    padding-bottom: 18px;
  }

  &__title {
    margin-bottom: 0;
  }

  &__upload-btn {
    height: 32px;
    margin-left: 16px;
  }

  &__filters {
    display: flex;
    flex: 0 0 48px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 16px;
  }

  &__filter-item {

  }

  &__articles-count {
    display: inline-flex;
    font-size: 15px;
    color: $fontGrey;
  }

  &__article-add-btn {
    height: 32px;
  }

  &__project-table-wrapper {
    position: relative;
    flex: 1;
    overflow: hidden;
    // overflow-x: hidden;
  }
}
