@import "project-table-settings";
@import "../../../../assets/styles/variables";

.project-table {
  max-width: 100%;
  min-width: 768px;

  &__body {
    min-height: 60vh;
    max-height: 300px;
    overflow-y: auto;
  }

  &__row {
    position: relative;
    display: flex;

    &:last-child {
      .project-table__cell {
        border-bottom: 1px solid $gray;
      }
    }

    &:hover {
      background-color: $gray-three;

      .project-table__menu-button {
        display: flex;
      }
    }
  }

  &__cell {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 16px;
    border-top: 1px solid $gray;

    &--check {
      flex: 0 0 $checkboxSection;
      padding: 0;
      border: none !important;
      justify-content: center;

      .checkbox__box {
        margin-right: 0;
      }

      .checkbox__label {
        justify-content: center;
      }
    }

    &--date {
      flex: 0 0 $dateSection;
    }

    &--source {
      flex: 0 0 $sourceSection;
    }

    &--title {
      flex: 0 0 $titleSection;
      width: $titleSection;
    }

    &--annotation {
      flex: 0 0 $annotationSection;
      width: $annotationSection;
    }
  }

  &__cell-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__empty-message {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    color: #999;
    font-size: 12px;
    font-weight: 100;
  }

  &__menu-button {
    display: none;
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 0;
    align-items: center;
    background-color: $gray-three;
    padding-left: 20px;
    padding-right: 10px;
    border: none;
  }

  &__menu-button-icon {
    width: 32px;
    height: 32px;
    transform: rotate(90deg);
  }
}
