@import "../../../../assets/styles/variables";

.project-properties-list {
  min-height: 92%;
  max-height: 92%;
  border-top: 1px solid $gray;
  overflow-y: auto;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(./img/stub.jpg) repeat-y;
    z-index: -1;
  }
}
