$namespace: '.breadcrumbs';

#{$namespace} {
    display: flex;
    margin-bottom: 16px;

    &__item {
        display: flex;
        align-items: center;

        &--disabled {
            #{$namespace}__item-label {
                color: #000;
                font-weight: 500;
            }
            #{$namespace}__item-link {
                cursor: default;
                text-decoration: none !important;
                pointer-events: none;
            }
            #{$namespace}__item-icon {
                fill: #000;
            }
        }

        &:not(#{$namespace}__item--disabled):after {
            background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.71 7.29l-4-4a1.003 1.003 0 00-1.42 1.42L8.59 8 5.3 11.29c-.19.18-.3.43-.3.71a1.003 1.003 0 001.71.71l4-4c.18-.18.29-.43.29-.71 0-.28-.11-.53-.29-.71z' fill='%235C7080'/%3E%3C/svg%3E");
            content: "";
            display: block;
            height: 16px;
            margin: 0 5px;
            width: 16px;
        }

        &:hover {
            #{$namespace}__item-icon {
                fill: #000;
            }
        }
    }

    &__item-link {
        display: flex;
        align-items: center;
        color: #5c7080;
    }

    &__item-label {
        font-size: 12px;
        color: #5c7080;
    }

    &__item-icon {
        width: 20px;
        height: 20px;
        fill: #5c7080;
        margin-right: 5px;

        &--main {
            width: 26px;
            background: #ced9e0;
            border-radius: 3px;
            padding: 1px 5px;

            &:hover {
                background: #bfccd6;
                color: #182026;
                text-decoration: none;
            }

            &:before {
                background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg fill='%235C7080'%3E%3Ccircle cx='2' cy='8.03' r='2'/%3E%3Ccircle cx='14' cy='8.03' r='2'/%3E%3Ccircle cx='8' cy='8.03' r='2'/%3E%3C/g%3E%3C/svg%3E") 50% no-repeat;
                content: "";
                display: block;
                height: 16px;
                width: 16px;
            }
        }

        &--project {

        }
    }
}