@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.left-sidebar {
  flex: 0 0 $settingsLeftSidebarWidth;
  background-color: #fff;
  transition: right .3s ease-in-out, background-color .3s ease;
  border-right: 1px solid #d9d9d9;

  @include media('mobile') {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 100%;
    z-index: 1;
  }

  &--open {
    right: 0;
  }
}

/* Dark Theme */

.app--dark .left-sidebar {
  background-color: $background-dark;
}
