@import "../../../assets/styles/variables";

$namespace: '.input-tags';

#{$namespace} {
  margin-bottom: 20px;

  &--succeed {
    #{$namespace}__label-text {
      font-weight: 500;

      &:before {
        content: '✔️ ';
      }
    }
  }

  &--onlyValue {
    margin-bottom: 0;
  }

  &__label {
    &--error {
      color: $errorColor;
    }
  }

  &__label-text {
    display: inline-block;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 8px;
  }
}

/* Dark Theme */

.app--dark #{$namespace} {

}
