.react-tags {
  position: relative;
  padding: 6px 0 0 6px;
  border: 1px solid #D1D1D1;
  border-radius: 1px;
  font-size: 1em;
  line-height: 1.2;
  cursor: text;

  &.is-focused {
    border-color: #B1B1B1;
  }

  &__selected {
    display: inline;
  }

  &__selected-tag {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 6px 2px 0;
    padding: 6px 8px;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    background: #F1F1F1;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;

    &:after {
      content: '\2715';
      color: #AAA;
      margin-left: 8px;
    }

    &:hover,
    &:focus {
      border-color: #B1B1B1;
    }
  }

  &__search {
    display: inline-block;
    padding: 7px 2px 0;
    margin-bottom: 6px;
    max-width: 100%;

    input {
      max-width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      outline: none;
      font-size: inherit;
      line-height: inherit;

      &::-ms-clear {
        display: none;
      }
    }
  }

  &__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    ul {
      margin: 4px -1px;
      padding: 0;
      list-style: none;
      background: white;
      border: 1px solid #D1D1D1;
      border-radius: 2px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }

    li {
      border-bottom: 1px solid #ddd;
      padding: 6px 8px;

      mark {
        text-decoration: underline;
        background: none;
        font-weight: 600;
      }

      &:hover {
        cursor: pointer;
        background: #eee;
      }

      &.is-active {
        background: #b7cfe0;
      }

      &.is-disabled {
        opacity: 0.5;
        cursor: auto;
      }
    }
  }
}
