.home-page {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  &__logo {
    margin-top: 72px;
    margin-bottom: 40px;
  }

  &__title {
    font-size: 32px;
    line-height: 40px;
  }

  &__sub-title {
    font-size: 15px;
    font-weight: normal;
  }
}
