@import '../../../../../assets/styles/variables';
$namespace: '.analytics-object';

#{$namespace} {

  &__title {
    margin: 0;
  }

  &__general {
    margin: 48px 0 0;
  }

  &__company-speakers {
    margin: 48px 0 0;
  }

  &__company-speakers-labels {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__company-speakers-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__company-speakers-item {
    margin: 0;
    padding: 0;
  }

  &__add-company-speaker-button {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;

    & svg {
      height: 24px;
      width: 24px;
      filter: brightness(2);
    }
  }

}

/* Dark Theme */

// .app--dark #{$namespace} {

// }

// @media (max-width: 1024px) {
//   #{$namespace} {
//   }
// }
