@import '../../../../../assets/styles/variables';
$namespace: '.analytics-object';

#{$namespace} {
  overflow-y: scroll;
  padding: 40px 20px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__header-title {
    margin: 0;
  }

  &__header-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__general {
    margin: 48px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 768px;

    @media (max-width: $device-sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__keywords {
    margin: 28px 0 0;
    max-width: 768px;
  }

  &__keywords-label {
    display: block;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 8px;
  }

  &__keywords-list {
    height: 256px;
    border: 1px solid $gray;
  }

  &__speakers {
    margin: 48px 0 0;
    max-width: 768px;
  }

  &__speakers-label {
    display: block;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 8px;
  }

  &__speakers-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__peakers-item {
    margin: 0;
    padding: 0;
  }

  &__custom-parameters {
    margin: 48px 0 0;
  }

  &__add-speaker-button {
    border-bottom: 2px dashed $linkColor;
    border-radius: 0;
    color: $linkColor;

    &:disabled {
      opacity: 0.25;
      background-color: transparent;
    }
  }

}

/* Dark Theme */

// .app--dark #{$namespace} {

// }

// @media (max-width: 1024px) {
//   #{$namespace} {
//   }
// }
