@import './variables.scss';
@import './mixins.scss';

.app--dark {
  background-color: $background-dark;
  color: $white-dark;

  h1, h2, h3, h4, h5, h6 {
    color: $white-dark;
  }

  a {
    color: $lightBlue;
  }
}

.notification .title {
    color: #fff;
}

#operated-notifications {
  position: fixed;
  pointer-events: none;
  top: 0;
  right: 0;
  width: 370px;
  height: 500px;
}

.drag-handle {
  cursor: move;
}

.jodit_container:not(.jodit_inline) .jodit_wysiwyg {
  outline: 1px solid transparent !important;
}

.ps__rail-y,
.ps__rail-x {
  z-index: 1;
}

@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}");
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
     $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

     @each $value in $displays {
          .d#{$infix}-#{$value} { display: $value !important; }
      }
  }
}

.select__control {
    border-color: transparent;

    &--is-focused {
        border-color: hsl(0,0%,80%) !important;
        box-shadow: none !important;
    }
}
