/* Breakpoints */
$device-xs: calc(540px + 2em);
$device-sm: calc(768px + 2em);
$device-md: calc(992px + 2em);
$device-lg: calc(1200px + 2em);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;

/* Colors */

$white: #fff;
$blackColor: #333;
$greenColor: #00B956;
$errorColor: #F62434;
$linkColor: #008bfb;
$infoColor: #ffa717;

$fontGrey: #999;
$brownGreyColor: #b2b2b2;

/* StyleGuide */
$black: #333;
$gray-three: #f2f2f2;
$gray-four: #fafafa;
$gray-two: #e5e5e5;
$gray: #d9d9d9;
$brown-grey: #999;
$darkish-purple: #731982;
$plum-purple: #62096e;
$vibrant-purple: #b808d4;
$shamrock: #00b956;
$emerald: #00985f;
$green-blue: #00bf78;
$minty-green: #00ee6f;
$yellowish-orange: #ffa717;
$strawberry: #f62434;
$azure: #008bfb;
/*End StyleGuide */
