@import "../../../../assets/styles/variables";

$namespace: '.project-key-words';

#{$namespace} {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 0;
  z-index: 1;

  &__list {
    margin: 0;
    padding: 0;
    border-top: 1px solid $gray;
    overflow-y: auto;
  }

  &__list-item {
    display: flex;
    position: relative;
    align-items: center;
    height: 64px;
    padding: 0 20px;
    background-color: #fff;
    border-bottom: 1px solid $gray;
  }

  &__list-item-buttons {
    margin-left: auto;
  }

  &__list-item-button {
    padding: 5px;
    background: none;
    border: none;

    &:hover {
      #{$namespace}__list-item-icon {
        fill: $emerald;

        &--trash {
          fill: $strawberry;
        }
      }
    }
  }

  &__list-item-icon {
    width: 32px;
    height: 32px;
    fill: #b2b2b2;
    color: #b2b2b2;
    overflow: hidden;

    &--arrow-to-start {
      transform: rotate(-90deg);
    }

    &--arrow-to-end {
      transform: rotate(90deg);
    }
  }

  &__buttons-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__buttons-panel-item:not(:last-child) {
    margin-right: 10px;
  }
}

/* Dark Theme */

.app--dark #{$namespace} {
  &__list {
    background-color: $background-dark;
  }

  &__list-item {
    background-color: $background-dark;
  }
}
