@import "../../../assets/styles/variables";

$namespace: '.logo';

#{$namespace} {
  display: flex;
  align-items: center;
  height: 42px;

  &:hover {
    text-decoration: none;
  }

  &__img {
    max-height: 100%;
    max-width: 100%;
  }

  &__divider {
    display: inline-flex;
    height: 100%;
    width: 1px;
    margin-left: 16px;
    margin-right: 27px;
    background-color: $gray;
  }

  &__title {
    margin-bottom: 0;
  }

  .cls-1{
    fill:#663334;
  }
  .cls-2{
    fill:#ffbf3b;
  }
  .cls-3{
    fill:#fff;
  }
  .cls-4,
  .cls-5{
    fill:#b3b3b3;
  }
  .cls-4{
    fill-rule: evenodd;
  }
}

.app--dark #{$namespace} {
  &__divider {
    background-color: $brown-grey;
  }
}
